:root {
  --projects-gradient: linear-gradient(45deg, #e43b3b, #2632d3);
}

@keyframes projects-text-gradient {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

#my--projects {
  background-image: var(--projects-gradient);
  background-size: 400%;
  animation: projects-text-gradient 5s infinite alternate;
}
