:root {
  --skills-gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
}

@keyframes text-animated-gradient {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

#my--skill--set {
  background-image: var(--skills-gradient);
  background-size: 400%;
  animation: text-animated-gradient 5s infinite alternate;
}
