---
import { Navbar } from "../components/Navbar";
import { Hero } from "../components/Hero";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Christian Llupo portfolio</title>
	</head>
	<body>
		<Navbar client:visible></Navbar>
		<Hero></Hero>
	</body>
</html>
